body {
    margin: 0;
    font-family: Open Sans, Arial, sans-serif;
  }
@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container {
        width: 976px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 752px;
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 100%;
    }
}
.book-appointment {
    background-color: #2f67aa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 30px 0;
  }

  .book-appointment:hover {
    background-color: #1a4273;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  .add-appointment{
    text-align: center;
  }
  .services-img {
    flex: 1;
}
.services-content {
    flex: 1;
}

